<div class="container">
  <div class="row">
    <div *ngFor="let posted of ads" class="col-sm-3">
      <div class="card">

          <div class="card-header">
          <h5>{{posted.title}}</h5>

          </div>
        <div class="card-body">
          <img src="http://localhost:4000/{{posted.image[0]}}" width="100" height="80"/>
          <br><br>
          <div class="row">
          <button (click)="deleteAd(posted._id)" class="btn btn-danger">Delete Ad</button> &nbsp;
          <button routerLink="/update-ad/{{posted._id}}" class="btn btn-primary">Update Ad</button>
          </div>
          <button routerLink="/admin-my-ad/{{posted._id}}" class="btn btn-dark">View Ad</button>


          <!--<button (click)="unroll(enrollment.section)"-->
          <!--class="btn btn-primary">Unroll</button>-->

        </div>
      </div>
    </div>
  </div>
  <div>
    <br><br>
    &nbsp;
    <a class="secondary" routerLink="/admin-profile">View Profile</a> &nbsp;
  </div>
</div>
