body{
  background-position: center center;
  background-attachment: fixed;
  /*background-image:url("image/BackgroundImg.png");*/
  background-size: cover ;
  background-repeat: no-repeat;
  background-color: black;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  background: crimson;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.header h1 {
  font-size: 50px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #F3D8BD;
  color: black;
}

.topnav .active {
  background-color: #F3D8BD;
  color: black;
}

