<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2> Submit a Free Classified Ad </h2>
      <div style="text-align: right">
        <a class="danger" (click)="logout()">Logout</a>
      </div>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-10">
          <div></div>


          <!--<div>-->
          <!--<label for="title" class="fields">Ad Title:</label>-->
          <!--<input [(ngModel)]="title" placeholder="Ad title" id="title" name="title" #name="ngModel" class="form-control form-control-lg"-->
          <!--required/>-->
          <!--</div>-->

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Ad Title</span>
            </div>
            <input type="text" [(ngModel)]="title" placeholder="Ad title" id="title" name="title" #name="ngModel" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon1" #input required>
          </div>
          <div class="warningText" *ngIf='title === undefined || title.length < 1'> Ad Title Cannot Be Empty</div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select (change)="setPrice()" [(ngModel)]="categoryVal" class="custom-select form-control form-control-lg" id="inputGroupSelect01">

              <option *ngFor="let pow of powers">{{pow.value}}</option>
              <!--<option value="1">One</option>-->
              <!--<option value="2">Two</option>-->
              <!--<option value="3">Three</option>-->
            </select>
          </div>

          <!--<div class="form-group">-->
          <!--<label for="description">Description</label>-->
          <!--<textarea placeholder="Description of product" class="form-control" id="description" rows="4" [(ngModel)]="description"></textarea>-->
          <!--</div>-->

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Ad Description</span>
            </div>
            <textarea placeholder="Description of product" class="form-control form-control-lg" id="description" rows="4" [(ngModel)]="description" aria-label="With textarea" required></textarea>
          </div>

          <div class="warningText" *ngIf='description === undefined || description.length < 1'> Description Cannot Be Empty</div>

          <!--<div *ngIf="isPrice">-->
          <!--<label for="price" class="fields">Price:</label>-->
          <!--<input [(ngModel)]="price" placeholder="Price of product in $" id="price" name="title" #name="ngModel" class="form-control form-control-lg"-->
          <!--required/>-->
          <!--</div>-->
          <br>
          <div *ngIf="isPrice" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input placeholder="Price of product" [(ngModel)]="price" id="price" name="title" #name="ngModel" type="text" class="form-control form-control-lg" aria-label="Amount (to the nearest dollar)" #input required>
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
            <div class="warningText" *ngIf='price === undefined'> Price Cannot Be Empty</div>
          </div>

          <div class="card">
            <h5 class="card-header">Please select new images to update individually and click Upload..</h5>
            <div class="card-body">
              <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
              <div class="cont">
                <div class="fixed">
                  <label class="myFile">
                    <img src="https://www.pngarts.com/files/2/Upload-PNG-Pic.png" width="65" height="65" alt=""/>
                    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                  </label>
                </div>
                <!-- button to trigger the file upload when submitted -->
                <div class="flex-item">
                  <button type="button" class="btn btn-success btn-lg round" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Upload Image
                  </button>
                </div>
              </div>
            </div>

          </div>


        </div>

        <!--<div>-->
        <!--<a routerLink="/home" style="float: right;">Home</a>-->
        <!--<a routerLink="/user-admin" style="float: right;">User Admin</a>-->
        <!--</div>-->
      </div>
    </div>
    <div class="card-footer text-muted">
      <h3> Contact Details </h3>
    </div>
    <form #form="ngForm" novalidate>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input type="text" [(ngModel)]="username" placeholder="Name" id="name" name="name" #name="ngModel" class="form-control form-control-lg" aria-label="Name" aria-describedby="basic-addon1" #input required>
        </div>
        <div class="warningText" *ngIf='username === undefined || username.length < 1'> Username Cannot Be Empty</div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">+1</span>
          </div>
          <input type="text" [(ngModel)]="phone" placeholder="Phone Number" id="phone" name="phone" #name="ngModel" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon1" #input required>
        </div>
        <div class="warningText" *ngIf='phone === undefined || phone.length < 10 || phone.length >10 || phone.toString() ==="/^[A-z]+$/"'> Enter a valid phone number</div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon4">Email</span>
          </div>
          <input type="text" [(ngModel)]="email" placeholder="Email Address" id="email" name="email" #name="ngModel" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon1" #input required>
        </div>
        <div class="warningText" *ngIf='email === undefined || email.length < 11'> Enter a valid email address</div>
        <div>
          <button (click)="updatead()" class="btn btn-lg btn-dark btn-block" [disabled]="!form.valid">
            <i class="fa-refresh"></i>&nbsp;Update Ad
          </button>
        </div>

        <br>

      </div>
    </form>

    <div *ngIf="currentuser=='admin'" style="text-align: center">
      <a class="btn btn-lg btn-dark margin" routerLink="/user-admin"><i class="fas fa-home"></i>&nbsp;Home</a>
    </div>
    <div *ngIf="currentuser!='admin'" style="text-align: center">
      <a class="btn btn-lg btn-dark margin" routerLink="/home"><i class="fas fa-home"></i>&nbsp;Home</a>
    </div>


  </div>
</div>
