<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .zoom {

      background-color: white;
      transition: transform .2s;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }

    .zoom:hover {
      -ms-transform: scale(3); /* IE 9 */
      -webkit-transform: scale(3); /* Safari 3-8 */
      transform: scale(3);
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top background-opacity">
  <div class="container-fluid topnavbar visible-sm visible-md visible-lg">

    <a routerLink="/homes" class="navbar-brand navbarheading">
      FLASH MARKETPLACE
    </a>

    <a routerLink="/login" class="navbar-brand navbarheading">
      LOGIN
    </a>
  </div>
</nav>


<div class="card">
  <div class="container-fluid">

    <div class="card-header">
      <h2 align="center">
        {{ ad.title }}
      </h2>
    </div>
    <br>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let test of ad.links">
          <div class="zoom">
            <img class=" advertise-poster img-responsive" [src]="test" height="110" width="110"/>
          </div>

        </div>
      </div>
      <br>
      <h4><strong>DESCRIPTION</strong></h4>
      <p class="description">{{ ad.description }}</p>
      <div *ngIf="logged" style="text-align:center">
        <a href="{{about}}" class="btn btn-lg btn-dark"> Click for more details</a>
      </div>
      <div *ngIf="!logged" style="text-align:center">
        <a routerLink="/login" class="btn btn-lg btn-dark"> Click for more details</a>
      </div>
    </div>

  </div>
</div>
<div class="card-body">
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3><span>Flash</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a routerLink="/login">Login</a>
        ·
        <a routerLink="/register">Register</a>
        ·
        <a href="#">Search</a>
      </p>

      <p class="footer-company-name">FLASH &copy; 2018</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>891 Huntington ave</span> Boston, MA</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1 857 413-8932</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:rangarajan.v@husky.neu.edu">US</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the marketplace</span>
        Buy and sell in a flash.
      </p>



    </div>

  </footer>

</div>
</body>
</html>
